<%# creating separate page for every blog post added
adding header template to the page %>
<%- include('partials/header'); -%>
<h1><%=head%></h1>
<p><%=charbody%></p>
<%# adding footer template to the page %>
<%- include('partials/footer'); -%>
